body {
  color: #494949;
  font-size: 18px;
  font-weight: lighter;
  line-height: 1.6;
  font-family: 'Lora', serif;
}

.banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

h1 {
  font-size: 38px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);

}

.banner p {
    font-size: 30px;
    font-style: italic;
    font-weight: lighter;
    opacity: 0.8;
}

.container {
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px auto;
}

h2 {
  color: #A0A0A0;
  font-weight: normal;
}

a {
  color: #636363;
  font-weight: lighter;
  font-size: 25px;
  font-style: italic;
}
